/* paramètre généraux */
:root{
  --color-1: rgba(9, 58, 71, 1);
  --color-2: rgba(13, 141, 172, 1);
  --color-3: rgba(3, 150, 166, 1);
  --color-4: rgba(243, 210, 194, 1);
  --color-5:rgba(242, 65, 98, 1); 
}

@font-face {
  font-family: font1;
  src: url(../font/Roboto-Medium.ttf);
}
@font-face {
  font-family: font2;
  src: url(../font/PlayfairDisplay-Regular.ttf);
}

*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  scroll-behavior: smooth;
}
*::selection{
  background: var(--color-1);
  color: var(--color-4);
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "font2", serif;
  transition: 0.7s ease-in-out;
}
a{
  text-decoration: none;
  color: black;
  font-family: font1 ,serif;
}

header {
  background: url(../images/personneEntrainDeFaireUnMontageArduino.jpg) left/cover;
  width: 100vw;
  height: 100vh;
  position: relative; 
}




.line {
  height: 3px;
  width: 70%;
  margin: auto;
  background: #000101;
  transition: 1s cubic-bezier(0.077, 0, 0.18, 1);
  transform-origin: left ;
  transition-delay: 0.65s;
}


h1{
  font-size: calc(2rem + 8vw);
  text-align: center;
  margin-top: 24px;
  padding-top: 100px;
  font-family: font1 ,sans-serif;
  color: var(--color-1);
  letter-spacing: 6px;
}

h2{
    font-size: calc(1rem + 5vw);
    text-align: center;
    color: black;
    letter-spacing: 2px;
    margin: 48px 0px 24px;
    font-family: font1 ,sans-serif;
    
  }
  
button{
  position: absolute;
  left: 50%;
  transform: translate(-50% ,-50%);
  bottom: 15%;
  cursor: pointer;
  font-size: calc(1rem + 3%);
  padding: 10px 20px;
  border-radius: 150px;
  margin: 24px ;
  max-width: 400px;
  width: 20%;
  min-width: 300px;
  background: rgba(255, 255, 255, 0.8);
  font-size: calc(2rem + 5%);


} 
button:hover {
    letter-spacing: 3px;
    
  }
button:active {
    background: black;
    color: white
  }



.benevole{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:48px 0px 200px;
  
}
.img-benevole-3, 
.img-benevole-2,
.img-benevole-1  
{
  height :600px;
  width: 100vw;
  max-width: 395px;
  filter: grayscale(100%);
  transition: 1.6s;
}
.img-benevole-1:hover, .img-benevole-2:hover,.img-benevole-3:hover  ,.nom-description:hover {
  filter : grayscale(10%)
}
.img-benevole-1{
  background: url(../images/profil1.jpg) ;
}
.img-benevole-2{
  background: url(../images/profil2.jpg) ;
}
.img-benevole-3{
  background: url(../images/profil3.jpg) ;
}

.id-benevole{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.nom-description {
  position: absolute;
  color: white;
  top: 450px;
  background-color: rgba(0, 0, 0, 0.486);
  width: 100vw;
  max-width: 395px;
  padding: 6px 6px 6px;
  backdrop-filter: blur(5px);
  
}
#association p{
  width: 70%;
  min-width: 280px;
  text-align: center;
  margin: 0 auto 24px auto;
  font-size: calc(1rem + 1vw);
  line-height: calc(5px + 4.5vw);

}

.ideologie{
  margin: 200px 0px 200px;
  
}
.trois-ideologie{

margin: 60px auto 48px;

}


.img{
  height: 700px;
  
 
}
.img-explication :hover img{
  filter: brightness(20%);
} 





.titre {
  font-size: calc(1rem + 1vw);
  text-align: left;
  padding: 48px 24px 12px;
  color: black;
  letter-spacing: 2px;
  margin: 24px 0px;
  font-family: font1 ,sans-serif;
  
}

.img-explication{
  position: relative;
  margin: 12px auto;
  
}

.text-ideologie{
  position: absolute;
  top: 50%;
  width: 700px;
  transform: translate(-50px);
  margin-left: 6vw;
  transition: 0.6s ease-out;
  padding: 12px;
  opacity: 0;
  z-index: 10;
}
.img-explication :hover .text-ideologie

{
  opacity: 1;
  color: white;
  transform: translate(0 , -50%);
  transform: scale(1.3);
  font-size: calc(5rem +3vw);
  
}

.localisation{
  display: flex;
  width: 80%;
  margin: 24px auto 200px;
  align-items: center;
}
iframe {
  border-radius: 10px;
  box-shadow: 10px 10px 20px  rgba(0, 0, 0, 0.486);
}

.adresse {
  margin: auto;
  padding: 24px;
  font-size: calc(5rem +3vw);
}

















#copyrightEtIcons
{
  width: 70%;
  min-width: 280px;
  text-align: center;
  margin: 0 auto 24px auto;
  font-size: calc(1rem + 1vw);
  line-height: calc(5px + 4.5vw);
}

