:root{
  --color-1: rgba(9, 58, 71, 1);
  --color-2: rgba(13, 141, 172, 1);
  --color-3: rgba(3, 150, 166, 1);
  --color-4: rgba(243, 210, 194, 1);
  --color-5:rgba(242, 65, 98, 1); 
}

@font-face {
  font-family: font1;
  src: url(../font/Roboto-Medium.ttf);
}
@font-face {
  font-family: font2;
  src: url(../font/PlayfairDisplay-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input#menuBurger {
  display: none;
  position: fixed;
  z-index: 100;
}

.contenu {
  transition: margin .3s ease;
}

.contenu p {
  /* text-align: justify; */
  padding: 10px;
  
}

nav#navMenu {
  height: 0;
  opacity: 0;
  
  
}

nav#navMenu ul {
  list-style: none;

}

nav#navMenu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  
}

label[for="menuBurger"] {
  margin: 5rem;
  display: block;
  width: 50px;
  height: 50px;
  transform: scale(3);
  
}

input#menuBurger:checked~.contenu {
  margin-top: 18rem;
  
}

input#menuBurger:checked~nav#navMenu {
  transition: opacity 1s;
  opacity: 1;
  
}


@media screen and (min-width:37.5rem) {
  body {
      overflow-x: hidden;
  }

  input#menuBurger:checked~.contenu {
      margin: 0 0 0 9rem;
  }

  nav#navMenu ul {
      width: 9rem;
  }
}

@media screen and (min-width:62.75rem) {


  label[for="menuBurger"] {
      display: none;
      position: fixed;
      
  }

  nav#navMenu {
      height: auto;
      opacity: 1;  
  }

  nav#navMenu ul {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: auto;
      margin: 1rem auto;
      
  }
}

nav a, nav a:visited{
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color:var(--color-1);
  transition: 0.1s linear;
  font-size : calc(1rem + 0.8vw);
}
nav a::after {
  content: "";
  position: absolute; 
  width: 100%;
  background: var(--color-1);
  height: 1px;
  bottom: -4px;
  left :0px;
  transform-origin: left;
}
nav a:hover{
  transform: scale(1.04);
  color: rgb(32, 116, 140);
}
nav a:hover::after{
  animation: animLink 1.4s  ease-in-out;
}
@keyframes animLink {
  50%{
    transform: scaleX(0.2);
  }
  100%{
    transform: scaleX(1);
  }
  
}


